<section class="adventages">
  <ul class="adventages__list list">
    <li class="adventages__item">
      <svg class="adventages">
        <use href="./images/sprite.svg.svg#icon-advantage-1"></use>
      </svg>
      <h2 class="adventages__title">721</h2>
      <p class="adventeges__text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
    <li class="adventages__item">
      <svg class="adventages">
        <use href="./images/sprite.svg.svg#icon-advantage-2"></use>
      </svg>

      <h2 class="adventages__title">16kg</h2>
      <p class="adventages__text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
    <li class="adventages__item">
      <svg class="adventages">
        <use href="./images/sprite.svg.svg#icon-advantage-3"></use>
      </svg>

      <h2 class="adventages__title">84</h2>
      <p class="adventages__text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
  </ul>
</section>
