<section class="hero">
  <div class="conteiner header">
    <h1 class="header__title">Эффективные решения для вашего бизнеса</h1>
    <button class="button hero-button" data-modal-open>Заказать услугу</button>
    <!-- модпльное окно -->
    <div class="backdrop is-hidden" data-modal>
      <div class="form-wrapper">
        <button class="modal-close" data-modal-close></button>
        <form class="modal">
          <div class="form-area">
            <p class="form-area__title">
              Оставьте свои данные, мы вам перезвоним
            </p>
            <label class="form-area__field">
              <span class="form-area__label">Имя</span>
              <input
                type="text"
                class="form-area__input"
                name="name"
                placeholder="Степан Бендера"
              />
            </label>
            <label class="form-area__field">
              <span class="form-area__label">Телефон</span>
              <input
                type="tel"
                class="form-area__input"
                name="tel"
                placeholder="+38(000)-000-00-00"
              />
            </label>
            <label class="form-area__field">
              <span class="form-area__label">Почта</span>
              <input
                type="email"
                class="form-area__input"
                name="email"
                placeholder="mail@mail.com"
              />
            </label>
            <label class="form-comment" for="comment">Комментарий</label>
            <textarea
              class="form-comment__textarea"
              name="comment"
              id="comment"
              placeholder="Оставьте комментарий"
            ></textarea>
            <label class="checkbox">
              <input class="checkbox__input" type="checkbox" name="topic" />
              <span class="checbox-wrapper">
                <span>Соглашаюсь с рассылкой и принимаю</span>
                <a class="checkbox__link" href=""> Условия договора</a>
              </span>
            </label>
            <button type="submit" class="send-button button">Отправить</button>
          </div>
          <!-- оформление модалки -->
        </form>
      </div>
    </div>
  </div>
</section>
