<section class="gallery">
    <div class="gallery__container">
        <h2 class="gallery__tittle visually-hidden">Gallery</h2>
        <ul class="gallery__list">
            <li class="gallery__item">
                <picture><img src="/src/images/gallery-mob-1.png" alt="ice-cream picture"></picture>
            </li>
            <li class="gallery__item">
                <picture><img src="/src/images/gallery-mob-2.png" alt="ice-cream picture"></picture>
            </li>
            <li class="gallery__item">
                <picture><img src="/src/images/gallery-mob-4.png" alt="ice-cream picture"></picture>
            </li>
            <li class="gallery__item">
                <picture><img src="/src/images/gallery-mob-6.png" alt="ice-cream picture"></picture>
            </li>
            <li class="gallery__item">
                <picture><img src="/src/images/gallery-mob-8.png" alt="ice-cream picture"></picture>
            </li>
            <li class="gallery__item">
                <picture><img src="/src/images/gallery-mob-10.png" alt="ice-cream picture"></picture>
            </li>
            <li class="gallery__item">
                <picture><img src="/src/images/gallery-mob-3.png" alt="ice-cream picture"></picture>
            </li>
            <li class="gallery__item">
                <picture><img src="/src/images/gallery-mob-5.png" alt="ice-cream picture"></picture>
            </li>
            <li class="gallery__item">
                <picture><img src="/src/images/gallery-mob-7.png" alt="ice-cream picture"></picture>
            </li>
            <li class="gallery__item">
                <picture><img src="/src/images/gallery-mob-9.png" alt="ice-cream picture"></picture>
            </li>
        </ul>
    </div>
</section>