<section class="gallery">
    <div class="gallery__container">
        <h2 class="gallery__tittle visually-hidden">Gallery</h2>
        <ul class="gallery__list">
            <li class="gallery__item">
                <picture><img src="/src/images/gallery-desk-1-2x.png" alt="ice-cream picture"></picture>
            </li>
            <li class="gallery__item">
                <picture><img src="/src/images/gallery-desk-2-2x.png" alt="ice-cream picture"></picture>
            </li>
            <li class="gallery__item">
                <picture><img src="/src/images/gallery-desk-4-2x.png" alt="ice-cream picture"></picture>
            </li>
            <li class="gallery__item">
                <picture><img src="/src/images/gallery-desk-6-2x.png" alt="ice-cream picture"></picture>
            </li>
            <li class="gallery__item">
                <picture><img src="/src/images/gallery-desk-8-2x.png" alt="ice-cream picture"></picture>
            </li>
            <li class="gallery__item">
                <picture><img src="/src/images/gallery-desk-10-2x.png" alt="ice-cream picture"></picture>
            </li>
            <li class="gallery__item">
                <picture><img src="/src/images/gallery-desk-3-2x.png" alt="ice-cream picture"></picture>
            </li>
            <li class="gallery__item">
                <picture><img src="/src/images/gallery-desk-5-2x.png" alt="ice-cream picture"></picture>
            </li>
            <li class="gallery__item">
                <picture><img src="/src/images/gallery-desk-7-2x.png" alt="ice-cream picture"></picture>
            </li>
            <li class="gallery__item">
                <picture><img src="/src/images//gallery-desk-9-2x.png" alt="ice-cream picture"></picture>
            </li>
        </ul>
    </div>
</section>