<section class="section gallery">
    <div class="gallery__container">
        <h2 class="gallery__tittle is-hidden">Gallery</h2>
<div class="gallery__list">
    <div class="gallery__item"><picture class="gallery__img"><img src="/src/images/gallery-mob-1.png" alt="ice-cream picture"></picture></div>
    <div class="gallery__item"><picture><img src="/src/images/gallery-mob-2-2x.png" alt="ice-cream picture"></picture></div>
    <div class="gallery__item"><picture><img src="/src/images/gallery-mob-4.png" alt="ice-cream picture"></picture></div>
    <div class="gallery__item"><picture><img src="/src/images/gallery-mob-6.png" alt="ice-cream picture"></picture></div>
    <div class="gallery__item"><picture><img src="/src/images/gallery-mob-8.png" alt="ice-cream picture"></picture></div>
    <div class="gallery__item"><picture><img src="/src/images/gallery-mob-10.png" alt="ice-cream picture"></picture></div>
    <div class="gallery__item"><picture><img src="/src/images/gallery-mob-3.png" alt="ice-cream picture"></picture></div>
    <div class="gallery__item"><picture><img src="/src/images/gallery-mob-5.png" alt="ice-cream picture"></picture></div>
    <div class="gallery__item"><picture><img src="/src/images/gallery-mob-7.png" alt="ice-cream picture"></picture></div>
    <div class="gallery__item"><picture><img src="/src/images/gallery-mob-9.png" alt="ice-cream picture"></picture></div>
</div>
    </div>
</section>