<header class="header">
  <div class="container header-container">
    <a href="" class="logo">
      <img src="./images/logo.png" alt="logo" />
    </a>
    <!-- ------------ DESK MENU START------------ -->
    <ul class="header-nav--desk">
      <li class="header-nav__item">
        <a href="#home" class="header-nav__link">Home</a>
      </li>
      <li class="header-nav__item">
        <a href="#products" class="header-nav__link">About us</a>
      </li>
      <li class="header-nav__item">
        <a href="#how-it-made" class="header-nav__link">How it's made?</a>
      </li>
      <li class="header-nav__item">
        <a href="#adventages" class="header-nav__link">Our products</a>
      </li>
      <li class="header-nav__item">
        <a href="#contacts" class="header-nav__link">Contact</a>
      </li>
    </ul>
    <!-- ------------ DESK MENU END------------ -->

    <button type="button" class="menu-open-btn">
      <svg class="menu-open-icon" width="20" height="12">
        <use href="./images/sprite.svg.svg#burger"></use>
      </svg>
    </button>
    <button type="button" class="header-button" data-modal-open>
      Buy now
      <svg class="header-button__icon" width="8" height="10">
        <use href="./images/sprite.svg.svg#arrow"></use>
      </svg>
  </div>
  <nav class="site-nav">
    <div class="site-nav-wrap is-hidden">
      <button class="menu-close">
        <svg class="header-close-icon" width="15" height="26">
          <use href="./images/sprite.svg.svg#close"></use>
        </svg>
      </button>
      <button type="button" class="header-button-mobile" data-modal-open>
        Buy now
        <svg class="header-button__icon" width="8" height="10">
          <use href="./images/sprite.svg.svg#arrow"></use>
        </svg>
      </button>
      <ul class="header-nav">
        <li class="header-nav__item">
          <a href="#home" class="header-nav__link">Home</a>
        </li>
        <li class="header-nav__item">
          <a href="#products" class="header-nav__link">About us</a>
        </li>
        <li class="header-nav__item">
          <a href="#how-it-made" class="header-nav__link">How it's made?</a>
        </li>
        <li class="header-nav__item">
          <a href="#adventages" class="header-nav__link">Our products</a>
        </li>
        <li class="header-nav__item">
          <a href="#contacts" class="header-nav__link">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</header>