<header class="header">
      <div class="header-container">
        <a href="" class="logo">
          <img src="./images/logo.png" alt="logo" />
        </a>

        <button type="button" class="menu-open-btn">
          <svg class="menu-open-icon" width="20" height="12">
            <use href="./images/sprite.svg.svg#burger"></use>
          </svg>
        </button>
      </div>
      <nav class="site-nav">
        <div class="site-nav-wrap is-hidden">
          <button type="button" class="menu-open-button">
            <svg class="header-button__icon" width="13" height="14">
              <use href="./images/sprite.svg.svg#close"></use>
            </svg>
          </button>
          <button class="menu-close"></button>
          <button type="button" class="header-button-mobile">
            Buy now
            <svg class="header-button__icon" width="8" height="10">
              <use href="./images/sprite.svg.svg#arrow"></use>
            </svg>
          </button>
          <ul class="header-nav">
            <li class="header-nav__item">
              <a href="#home" class="header-nav__link">Home</a>
            </li>
            <li class="header-nav__item">
              <a href="#advantages" class="header-nav__link">About us</a>
            </li>
            <li class="header-nav__item">
              <a href="#how-it-made" class="header-nav__link">How it's made?</a>
            </li>
            <li class="header-nav__item">
              <a href="#cream-brulee" class="header-nav__link">Our products</a>
            </li>
            <li class="header-nav__item">
              <a href="#contacts" class="header-nav__link">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>