<section class="hero">
        <div class="hero__container">
          <div class="hero__box--titel">
            <div class="hero__caption">
              <h1 class="hero__titel">ice cream made with <span class="hero__subtitel"> passion</span></h1>
              <ul class="hero__list--btn list">
                <li class="hero__item--btn"> <button type="button" class="hero__btn--dark"><a href="#our-products">Products</a></button></li>
                <li class="hero__item--btn"><button type="submit" class="hero__btn--light"><a href="#how-it-made">How it&#39s made?</a></button></li>
              </ul>
            </div>
            <div class="hero__box--img">
                <picture>
                    <source srcset="
                                        ./images/header-milk-desk.png   1x,
                                        ./images/header-milk-desktop-2x.png 2x
                                    " media="(min-width: 1200px)">
                    <source srcset="
                                        ./images/header-milk-tab.png    1x,
                                        ./images/header-milk-tab-2x.png 2x
                                    " media="(min-width: 768px)">
                    <img src="./images/header-milk-tab.png" alt="icecream" class="hero__milk--img">
                </picture>
            </div>
            <div class="hero__box--text">
                <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                <button type="button" class="hero__btn--circle"></button>
            </div>
          </div>
            <div class="hero__box--second">
                <picture>
                    <source srcset="
                                        ./images/header-ice-cream-desk.png   1x,
                                        ./images/header-ice-cream-desk-2x.png 2x
                                    " media="(min-width: 1200px)">
                    <source srcset="
                                        ./images/header-ice-cream-tab.png    1x,
                                        ./images/header-ice-cream-tab-2x.png 2x
                                    " media="(min-width: 768px)">
                    <source srcset="
                                        ./images/header-ice-cream-mob.png    1x,
                                        ./images/header-ice-cream-mob-2x.png 2x
                                    " media="(min-width: 320px)">
                    <img src="./images/header-ice-cream-mob.png" alt="icecream" class="hero__icecream--img">
                </picture>
            </div>
            <div class="hero__box--third">
                <ul class="hero__list list">
                    <li class="hero__item">
                        <p class="hero__text--number">16</p>
                        <p class="hero__text--desc">cafes</p>
                    </li>
                    <li class="hero__item">
                           <p class="hero__text--number">23</p>
                        <p class="hero__text--desc">food trucks</p>
                    </li>
                </ul>
              <picture>
                    <source srcset="
                                        ./images/header-girl-desk.png   1x,
                                        ./images/header-girl-desk-2x.png 2x
                                    " media="(min-width: 1200px)">
                    <source srcset="
                                        ./images/header-girl-tab.png    1x,
                                        ./images/header-girl-tab-2x.png 2x
                                    " media="(min-width: 768px)">
                    <img src="./images/header-girl-tab.png" alt="icecream" class="hero__milk--img">
                </picture>
            </div>            
          </div>
      </section>