<section class="hero">
        <div class="hero__container">
          <div class="hero__box--titel">
            <div class="hero__caption">
              <h1 class="hero__titel">ice cream made with <span class="hero__subtitel"> passion</span></h1>
              <ul class="hero__list--btn list">
                <li class="hero__item--btn"> <button type="button" class="hero__btn--dark">Products</button></li>
                <li class="hero__item--btn"><button type="button" class="hero__btn--light">How it&#39s made?</button></li>
              </ul>
            </div>
            <div class="hero__box--img">
                <!-- <picture>
                    <img src="./img/slider-pic5.png"  alt="">
                </picture> -->
            </div>
            <div class="hero__box--text">
                <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                <button type="button" class="hero__btn--circle"></button>
            </div>
          </div>
            <div class="hero__box--second">
                <!-- <picture>
                    <img src="./img/slider-pic7.png" alt="" class="hero__icecream--img">
                </picture> -->
            </div>
            <div class="hero__box--third">
                <ul class="hero__list list">
                    <li class="hero__item">
                        <p class="hero__text--number">16</p>
                        <p class="hero__text--desc">cafes</p>
                    </li>
                    <li class="hero__item">
                           <p class="hero__text--number">23</p>
                        <p class="hero__text--desc">food trucks</p>
                    </li>
                </ul>
                <!-- <picture>
                    <img src="./img/slider-pic4.png" alt="">
                </picture> -->
            </div>            
          </div>
      </section>