<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Titan+One&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css"
    />
    <link rel="apple-touch-icon" sizes="180x180" href="./images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/x-icon" sizes="32x32" href="./images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/x-icon" sizes="16x16" href="./images/favicon/favicon-16x16.png">
    <link rel="manifest" href="#">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="./sass/index.scss" />
  </head>
<section class="products">
  <div class="products__container container">
    <p class="products__lable">100% natural </p>
    <h2 class="products__title" id="our-products">products</h2>
    <ul class="products__list">
      <li class="products__item products-info ice-cream list">
     
          <h3 class="products-info__title">ice cream</h3>
          <p class="products-info__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <a class="products-link" href="https://www.epicurious.com/recipes-menus/19-ice-creams-of-your-dreams-gallery" target="_blank">
            <svg class="link-more" width="40" height="40">
                <use href="./images/sprite.svg.svg#icon-arrow-right"></use>
              </svg>
            </a>     
       
      </li>
      <li class="products__item products-info ice-coffee list">
        
          <h3 class="products-info__title">ice coffee</h3>
          <p class="products-info__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <a class="products-link" href="https://realfood.tesco.com/recipes/iced-coffee.html" target="_blank">
            <svg class="link-more" width="40" height="40">
                <use href="./images/sprite.svg.svg#icon-arrow-right"></use>
              </svg>
            </a>
        
      </li>
      <li class="products__item products-info  milkshakes list">
        
          <h3 class="products-info__title">milkshakes</h3>
          <p class="products-info__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <a class="products-link"  href="https://insanelygoodrecipes.com/milkshake-recipes/" target="_blank">
            <svg class="link-more" width="40" height="40">
                <use href="./images/sprite.svg.svg#icon-arrow-right"></use>
              </svg>
          </a>
        
      </li>
    </ul>
  </div>
</section>
