<section class="reviews__section">
  <div class="container reviews">
    <h2 class="visually-hidden">Reviews</h2>
    <img
      class="reviews__img"
      src="./images/customer-1.png"
      alt="Foto client"
      width="85"
      height="85"
    />
    <div class="reviews__comment">
      <p class="reviews__comment-item">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
        sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis
        in nibh vel risus.
      </p>
      <span class="reviews__border"></span>
    </div>
    <div class="reviews__name-container">
      <ul class="reviews__name-list">
        <li class="reviews__dots"></li>
        <li class="reviews__dots"></li>
        <li class="reviews__dots"></li>
      </ul>
      <p class="reviews__name">Emily, Los Angeles</p>
      <ul class="reviews__example-list">
        <li class="reviews__exemple-icon"></li>
        <li class="reviews__exemple-icon"></li>
        <li class="reviews__exemple-icon"></li>
      </ul>
    </div>
  </div>
</section>
