.location {
  background-color: var(--bg-main-color);
  padding-bottom: 40px;
}
.location-list {
  margin-top: 30px;
}
.location-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.location-backdrop.loc-hidden {
  opacity: 0;
  pointer-events: none;
}

.franchise-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.franchise-backdrop.franchise-hidden {
  opacity: 0;
  pointer-events: none;
}

.location-modal {
  background-color: #fff5f6;
  width: 100%;
  height: 100%;
  padding: 15px;
  padding: 40px 20px;
}

.franchise-modal {
  background-color: #fff5f6;
  width: 100%;
  height: 100%;
  padding: 15px;
  padding: 80px 20px;
}

.franchise-form__container {
  margin-bottom: 30px;
  padding-right: 20px;
}

.franchise__title {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 34px;
  line-height: calc(39 / 34);
  text-align: center;
  letter-spacing: 0.04em;

  margin-bottom: 10px;

  &--uppercase {
    text-transform: uppercase;
  }
  color: var(--accent-color);
}

.franchise__text {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 18px;
  line-height: calc(21 / 18);

  text-align: center;

  color: var(--main-dark);

  margin-bottom: 20px;
}

.franchise-input {
  width: 100%;
  height: 40px;
  border: 1px solid var(--main-dark);
  border-radius: 22px;
  background-color: rgba(0, 0, 0, 0);
  padding-left: 15px;
  outline: rgba(0, 0, 0, 0);
}

.franchise-input__field:not(:last-child) {
  margin-bottom: 15px;
}
.franchise-input__label {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  color: var(--second-text-color);
  padding-left: 10px;
}

.btn {
  min-width: 160px;
  height: 44px;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(18 / 14);
  align-items: center;
  text-align: center;
  border: none;
  border-radius: 22px;
  letter-spacing: 0.06em;
  cursor: pointer;

  display: block;

  margin: 0 auto;
  padding: 10px 17px;

  color: var(--accent-color);
  background-color: var(--standart-white);

  &:hover,
  &:focus {
    color: var(--standart-white);
    background-color: var(--accent-color);
  }

  // add transition!!!
}

.btn-invert {
  @extend .btn;
  color: var(--standart-white);
  background-color: var(--accent-color);
}

.location-item:not(:last-child) {
  margin-bottom: 10px;
}

.loc-close-btn {
  @extend %btn;
}

.franchise-submit-btn {
  @extend .btn-invert;
}
