.adventages {
  background-color: var(--bg-main-color);
  padding-bottom: 84px;
}

.adventages__list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 32px;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: left;
    grid-gap: 5px;
  }
  @media screen and (min-width: 1200px) {
    justify-content: space-between;
    grid-gap: 0px;
  }
}
.adventages__item {
  @media screen and (min-width: 768px) {
    max-width: 140px;
    @media screen and (min-width: 1200px) {
      max-width: 250px;
    }
  }
}

.adventages__amount {
  font-family: 'Titan One';
  color: var(--accent-color);
  font-weight: 400;
  font-size: 36px;
  line-height: 41px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.adventages-milk::before {
  content: url('../images/milk.png');
}

.adventages-applase::before {
  content: url('../images/apples.png');
}

.adventages-heart::before {
  content: url('../images/heart.png');
}

.adventages__text {
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
}
