.header {
  background-color: var(--main-color);
  position: fixed;
  width: 100%;
  z-index: 10;
  /* background-color: transparent; */
}
.header-container {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}
.menu-open-btn {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 40px;
  padding-left: 0px;
  padding-right: 0px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-family: inherit;
}
.menu-open-button {
  margin-left: auto;
  width: 26px;
  height: 26px;
  background-color: rgba(0, 0, 0, 0);
  justify-content: center;
  align-items: center;
  padding: 0;
  display: flex;
  top: 20px;
  right: 32px;
}
.menu-open-icon {
  stroke: var(--accent-color);
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  stroke-width: 2.285;
}

.menu-open-icon {
  stroke: var(--accent-color);
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  stroke-width: 2.285;
}
.header-button-mobile {
  color: var(--accent-color);
  display: block;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 44px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  background-color: var(--standart-white);
  border-radius: 22px;
  font-weight: 700;
  line-height: 1.31;
}
button {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-family: inherit;
}
.site-nav-wrap {
  background-color: #e17992;
  position: fixed;
  z-index: 900;
  /* background-color: var(--primary-background-color); */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 20px;
  /* padding-bottom: 48px; */
  transition: all 500ms ease;
  padding-left: 20px;
  padding-right: 20px;
}
.header-nav__link {
  text-decoration: none;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;

  color: #ffffff;
}

.header-button__icon {
  fill: currentColor;
  display: block;
  margin-left: 10px;
  left: 175.11px;
  top: 79px;
}

.header-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 40px;
  padding-left: 0px;
  padding-right: 0px;
}
.header-nav {
  list-style: none;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.header-nav__item:not(:last-child) {
  margin-bottom: 22px;
}
