.hero {
  background-color: var(--main-color);
  padding-top: 83px;
  // padding-top: 9px;
  overflow-x: hidden;
  position: relative;
}

.hero__container {
  min-width: 320px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.hero__caption {
  position: absolute;
  top: 194px;
  //  top: 111px;
  left: 20px;
  z-index: 2;
}

.hero__titel {
  font-family: var(--title-font);
  max-width: 218px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--standart-white);
  animation-duration: 1000ms;
  animation-name: slidein;
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }

    75% {
      font-size: 300%;
      margin-left: 25%;
      width: 150%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }
}

.hero__subtitel {
  font-weight: 400;
  font-size: 48px;
  line-height: 0.96;
  text-transform: uppercase;
  color: var(--accent-color);
}

.hero__list--btn {
  display: flex;
}

.hero__item--btn:first-child {
  margin-right: 8px;
}

.hero__btn--dark {
  padding: 9px 13px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--standart-white);
  background-color: var(--accent-color);
  border-radius: 20px;
  border-width: 0;
  transition: background-color 250ms linear;

  &:hover,
  &:focus {
    background-color: #c80a39;
    cursor: pointer;
  }
}

.hero__btn--light {
  padding: 9px 13px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--accent-color);
  background: var(--standart-white);
  border-radius: 20px;
  border-width: 0;
  transition: background-color 250ms linear;

  &:hover,
  &:focus {
    background-color: #ecebeb;
    cursor: pointer;
  }
}

.hero__box--img,
.hero__box--text {
  display: none;
}

.hero__box--second {
  position: relative;
  z-index: 1;
  left: 42%;

  &::before {
    position: absolute;
    top: -9px;
    // left: -28%;
    // top: 25px;
    left: -37%;
    display: block;
    width: 344px;
    height: 344px;
    border-radius: 50%;
    content: '';
    background-color: var(--main-dark);
  }
}

.hero__icecream--img {
  position: relative;
  left: -19px;
}

.hero__box--third {
  display: none;
}
