// .ul {
//   list-style: none;
// }

// .reviews__section {
//   align-items: center;
//   justify-content: center;
// }

.reviews__img {
  align-items: center;
  margin: 0 auto;
  margin-bottom: 32px;
  margin-top: 60px;
}

.reviews__comment {
  // width: 100vw;
  background: #fafafa;
  padding: 43px 58px 26px 65px;
  margin-bottom: 16px;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}

.reviews__comment-item {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;

  text-align: center;

  color: #000000;
}

.reviews__border {
  width: 70%;
  height: 70%;
  top: 74px;
  left: 40px;
  // transform: translate(-50%, -50%);
  background: repeating-linear-gradient(
    #e1e1e1 1px,
    transparent 2px,
    transparent 31px
  );

  position: absolute;
  align-items: center;
  overflow: hidden;
  padding-top: 20px;
}

.reviews__name {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;

  text-align: center;
  align-items: center;

  color: #000000;

  margin-bottom: 16px;
}

.reviews__name-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin-bottom: 10px;
}

.reviews__dots {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #c7133e;
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.reviews__example-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.reviews__exemple-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #d9d9d9;
  &:not(:last-child) {
    margin-right: 18px;
  }
}
